<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/log_in.css">
    <title>Log in</title>
</head>
<body>
    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
    <div class="container">
       
        <h2>Log in</h2>
        <form action="/log_in" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
           
            
            <div class="log">
                <p>Don't have an account sign-up <a href="/register">here!</a></p>
            </div>

            <div class="form-group remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember Me</label>
            </div>
            <div class="log">
                <p><a href="/forgot_password">Forgot Password</a></p>
            </div>

            <button type="submit">log in</button>
        </form>
    </div>
</body>
</html>