<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Sign up</title>
</head>
<body>
    <div class="container">
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
   
    <div class="container">
        <h2>Sign up</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Full Name:</label>
                <input type="text" id="username" name="full_name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
           
            <div class="log">
                <p>Already have an account log in <a href="/log_in">here!</a></p>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>

    </div>
</body>
</html>